<h1><%= @category.name%></h1>

<div class="container">
  <!-- <div class="d-flex justify-content-between  bg-white">
    <p>Heure</p>
    <p>description</p>
    <p>lien</p>
  </div> -->
  <% @events.each do |event| %>
    <div class="rounded py-2 d-flex justify-content-between bg-white">
      <p><%= event.date.strftime('%H:%M') %></p>
      <p><%= event.title %></p>
      <p><%= event.description %></p>
      <p><%= event.link %></p>
    </div>
  <% end %>
</div>

