<div class="container">
  <h1>DailyLive</h1>
  <div id=event-category>
    <h2><%= @category.name%></h2>
    <%= mail_to "lambertcamille23@gmail.com", "Contactez-nous" %>
    <p class="text-center mb-5">Rendez vous le:</p>
  </div>

  <div class="datepicker">
    <% 7.times do |i| %>
    <a href="#" class="day <%= 'active' if i == 0 %>">
      <span class="name">Lun</span>
      <span class="number"><%= 20 + i %></span>
    </a>
    <% end %>
  </div>

  <% @events.each do |event| %>
    <div class="event-card">
      <div class="hour">
        <%= event.date.strftime('%Hh%M') %>
      </div>
      <div class="description">
        <h5>
          <%= event.title %>
        </h5>
        <p>
          <%= event.description %>
        </p>
      </div>
      <%= link_to "Participer", event.link %>
    </div>
  <% end %>
</div>
